ol {
    border: 2px solid blue; /* 2px solid border, blue color */
    padding: 15px;         /* Add some padding inside the border */
    margin: 20px;          /* Add some space around the border */
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
.dugong{
    width: 50%;
    height: 50%;
}
body {
    padding: 0.1vw;
}
.philippine tarsier{
    width: 50%;
    height: 50%;
}
.philippine mouse deer{
    width: 50%;
    height: 50%;
}
.philippine eagle{
    width: 50%;
    height: 50%;
}
.philippine tarsier{
    width: 50%;
    height: 50%;
}






